{% extends "layout.jinja2" %}

{% block content %}
    <div class="col-md-8">
        <h1>Listagem de Videos</h1>
        <hr>
        <div class="col-md-10">
            <table class="table">
                <thead>
                    <th class="col-md-4">Nome</th>
                    <th class="col-md-3">Tema</th>
                    <th class="col-md-1"></th>
                    <th class="col-md-1"></th>
                </thead>
                {% for video in videos %}
                <tr>
                    <td>{{ video.name }}</td>
                    <td>{{ video.theme.name }}</td>
                    <td>
                        <form action="/up" method="get" style="display: inline">
                            <input hidden type="text" name="id" value="{{ video.id }}">
                            <button class="btn btn-success" type="submit">
                                <i class="glyphicon glyphicon-thumbs-up"></i> {{ video.thumbs_up }}
                            </button>
                        </form>
                    </td>
                    <td>
                        <form action="/down" method="get" style="display: inline">
                            <input hidden type="text" name="id" value="{{ video.id }}">
                            <button class="btn btn-danger" type="submit">
                                <i class="glyphicon glyphicon-thumbs-down"></i> {{ video.thumbs_down }}
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <h1>Cadastrar Video</h1>
        <hr>
        <form action="/add_video" method="get">
            <div class="form-group">
                <label>Nome</label>
                <input type="text" name="name" class="form-control" placeholder="Nome">
            </div>
            <div class="form-group">
                <label>Tema</label>
                <input type="text" name="theme" class="form-control" placeholder="Tema">
            </div>
            <input class="btn btn-success" type="submit" value="Cadastrar">
            <input class="btn btn-info" type="reset" value="Limpar">
        </form>
    </div>

{% endblock content %}
